body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* fondo en gris claro */
  color: #333; /* texto en gris oscuro */
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000; /* navbar */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 120px; /* logo tamaño */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline; /* navbar orden horizontal */
  margin-right: 30px;
}

nav ul li a {
  color: #fff; /* color enlaces del navbar */
  text-decoration: none;
}

nav ul li a.active {
  color: #23d6e8; /* enlace activo */
}

section {
  padding: 20px;
}

h2 {
  color: #23d6e8; /* encabezados */
}

h3 {
  color: #000000; /* subtítulos */
}

.noticias-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.noticia {
  border: 1px solid #ccc; /* brde de las noticias */
  padding: 20px;
}

.noticia img {
  width: 100%;
}

footer {
  background-color: #23d6e8; /* backg footer */
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imagenes img {
  width: calc(25% - 10px); /* 25% del ancho menos el espacio entre imgs */
  margin-bottom: 20px;
}

.nosotros {
  padding: 20px;
}
.nosotros-contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
