body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* fondo en gris claro */
  color: #333; /* texto en gris oscuro */
  margin: 0;
  padding: 0;
}
.logo img {
  max-width: 120px; /* logo tamaño */
}
.custom-navbar.navbar .navbar-brand,
.custom-navbar.navbar .navbar-nav .nav-link {
  color: #ffffff;
}
.custom-navbar.navbar .navbar-brand:hover,
.custom-navbar.navbar .navbar-nav .nav-link:hover {
  color: #23d6e8;
}

section {
  padding: 20px;
}

h2 {
  color: #23d6e8; /* encabezados */
}

h3 {
  color: #000000; /* subtítulos */
}

.noticias-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.noticia {
  border: 1px solid #ccc; /* brde de las noticias */
  padding: 20px;
}

.noticia img {
  width: 100%;
}

footer {
  background-color: #23d6e8; /* backg footer */
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imagenes img {
  width: calc(25% - 10px); /* 25% del ancho menos el espacio entre imgs */
  margin-bottom: 20px;
}

.nosotros {
  padding: 20px;
}
.nosotros-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.torneos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.tabla-posiciones table,
.tabla-fixture table {
  width: 100%;
  border-collapse: collapse;
}

.tabla-posiciones th,
.tabla-posiciones td,
.fixture th,
.fixture td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .torneos-grid,
  .noticias-grid,
  .nosotros-grid,
  .imagenes img {
    display: inline;
    width: 100%;
    float: none;
  }
}
