body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: gray;
  margin: 0px;
  padding: 0px;
}
body h2 {
  color: #23d6e8;
}
body h5 {
  color: #000000;
}

header img {
  max-width: 120px;
  padding: 0;
  border-radius: 10px;
}
header .navbar {
  background-color: black;
}
header .navbar .nav-link {
  color: white;
}
header .navbar .nav-link:hover {
  color: #23d6e8;
}
header .navbar .dropdown-menu,
header .navbar .dropdown-item {
  background-color: black;
  color: white;
}
header .navbar .dropdown-menu:hover,
header .navbar .dropdown-item:hover {
  background-color: black;
  color: #23d6e8;
}
header .navbar .navbar-toggler {
  border-color: #23d6e8;
  color: white;
  padding: 10px 20px;
}
header .navbar .navbar-toggler:hover {
  background-color: #23d6e8;
}

footer {
  background-color: #23d6e8;
  color: white;
  padding: 60px;
  text-align: center;
}

.noticias {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .noticias {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .noticias {
    padding: 10px;
  }
}

.torneos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .torneos {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .torneos {
    padding: 10px;
  }
}

.nosotros {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .nosotros {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .nosotros {
    padding: 10px;
  }
}

.galeria {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .galeria {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .galeria {
    padding: 10px;
  }
}

.contacto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .contacto {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .contacto {
    padding: 10px;
  }
}

.noticias-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .noticias-grid {
    grid-template-columns: 2fr;
    gap: 0em;
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .noticias-grid {
    grid-template-columns: 1fr;
    gap: 0em;
    padding: 0px;
  }
}

.torneos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .torneos-grid {
    grid-template-columns: 2fr;
    gap: 0em;
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .torneos-grid {
    grid-template-columns: 1fr;
    gap: 0em;
    padding: 0px;
  }
}

.nosotros-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .nosotros-grid {
    grid-template-columns: 2fr;
    gap: 0em;
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .nosotros-grid {
    grid-template-columns: 1fr;
    gap: 0em;
    padding: 0px;
  }
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .imagenes {
    grid-template-columns: 2fr;
    gap: 0em;
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .imagenes {
    grid-template-columns: 1fr;
    gap: 0em;
    padding: 0px;
  }
}

.contacto-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .contacto-grid {
    grid-template-columns: 2fr;
    gap: 0em;
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .contacto-grid {
    grid-template-columns: 1fr;
    gap: 0em;
    padding: 0px;
  }
}

.noticias img,
.nosotros img,
.imagenes img {
  max-width: 100%;
  padding: 10px;
  border-radius: 30px;
}

.imagen-zoom {
  transition: transform 0.3s ease;
  border-radius: 30x;
}
.imagen-zoom:hover {
  transform: scale(1.1);
}

.tabla-posiciones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  min-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.tabla-posiciones th,
.tabla-posiciones td,
.fixture th,
.fixture td {
  border: 1px solid #ccc;
  padding: 0px;
  text-align: center;
}

.boton-std {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #23d6e8;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin: 20px;
}
.boton-std:hover {
  background-color: black;
}

.footer-redes a i {
  font-size: 30px;
  color: white;
  margin-right: 10px;
  transition: transform 0.3s ease;
  border-radius: 30x;
}
.footer-redes a i:hover {
  transform: scale(1.1);
}

.contacto-redes a i {
  font-size: 120px;
  color: #23d6e8;
  margin-right: 30px;
  transition: transform 0.3s ease;
  border-radius: 30x;
}
.contacto-redes a i:hover {
  transform: scale(1.1);
}

.contacto-redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .contacto-redes {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .contacto-redes {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
